name: Build Jar File

on: [ push ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: "github.actor != 'dependabot[bot]'"
    steps:
      - uses: actions/checkout@main
      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          java-version: 21
          distribution: temurin

      - name: Build
        run: mvn -V -B clean package --file pom.xml

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Plugin JAR
          path: target/*.jar
          if-no-files-found: error
